{include file='public/header' /}
<p><a href="{:url('admin/template/add')}">添加数据</a></p>
<table border="1" class="table table-bordered table-hover text-center">
<tr>
<th>序号</th>
<th>姓名</th>
<th colspan="2">操作</th>
</tr>
{volist name='data' id='item' key='i'}
<tr>
<td>{$i}</td>
<td>{$item.name??''}</td>
<td><a href="{:url('admin/template/edit','id='.$item['id'])}">编辑</a></td>
<td><a href="{:url('admin/template/delete','id='.$item['id'])}" class="deleteOneData">删除</a></td>
</tr>
{/volist}
</table>
{include file='public/footer' /}