{include file='public/header' /}
<form action="{:url('<?=$shortname?>/edit_ok','id='.$data['id'])}" method="post" class="form-x">
<?php
foreach($tableStructure as $value)
{
if($value['Field']=='id'){continue;}
if(substr($value['Type'],0,7)=='tinyint'){
    if(stripos($value['Field'],'_id')){
        $field=str_replace('_id','',$value['Field']);
    }else{
        $field=$value['Field'];
    }
?>
<div class="form-group">
    <div class="label">
        <label><?=$value['Comment']?></label>
    </div>
    <div class="field">
        <select name="<?=$value['Field']?>" class="input">
            <option value="0">--请选择--</option>
            {foreach name='relationData.<?=$field?>' item='val'}
            <option value="{$val.id}" {$val.id==$data.<?=$value['Field']?>?'selected':'';}>{$val.name}</option>
            {/foreach}
        </select>
    </div>
</div>
<?php
}
else{
?>
<div class="form-group">
    <div class="label">
        <label><?=$value['Comment']?></label>
    </div>
    <div class="field">
        <input type="text" name="<?=$value['Field']?>" class="input" value="{$data.<?=$value['Field']?>}">
    </div>
</div>
<?php
}
}
?>
<div class="form-button">
    <input type="submit" value="提交" class="button bg-main">
</div>
</form>
{include file='public/footer' /}