{include file='public/header' /}
<form action="{:url('usersize/edit_ok','id='.$data['id'])}" method="post" class="form-x">
<div class="form-group">
    <div class="label">
        <label>用户名</label>
    </div>
    <div class="field">
        <input type="text" name="name" class="input" value="{$data.name}">
    </div>
</div>
<div class="form-group">
    <div class="label">
        <label>密码</label>
    </div>
    <div class="field">
        <input type="text" name="password" class="input" value="{$data.password}">
    </div>
</div>
<div class="form-group">
    <div class="label">
        <label>性别</label>
    </div>
    <div class="field">
        <input type="text" name="sex" class="input" value="{$data.sex}">
    </div>
</div>
<div class="form-group">
    <div class="label">
        <label>年龄</label>
    </div>
    <div class="field">
        <input type="text" name="age" class="input" value="{$data.age}">
    </div>
</div>
<div class="form-group">
    <div class="label">
        <label>图片</label>
    </div>
    <div class="field">
        <input type="text" name="img" class="input" value="{$data.img}">
    </div>
</div>
<div class="form-group">
    <div class="label">
        <label>文本域</label>
    </div>
    <div class="field">
        <input type="text" name="text" class="input" value="{$data.text}">
    </div>
</div>
<div class="form-button">
    <input type="submit" value="提交" class="button bg-main">
</div>
</form>
{include file='public/footer' /}